body{
    background: #e9ecf0;
}
.books-holder{
    padding: 25px 0;
}

/* /navbar / */
.pop{
  background: rebeccapurple;
}

/* nasa photo*/

.book-photo {
  display: flex;
  padding: 6rem;
  margin: 0 auto;
  max-height: 100%;
}

.book-photo img {
  width:100%;
  margin-right: 3rem;
  object-fit: contain;
  max-height: 50vh;
}

.book-photo h1 {
  margin-top: 3rem;
  margin-bottom: 0;
}
.book-photo h3 {
  margin-top:0;
  margin-bottom: 0;
  color: crimson;
}

.book-photo .author {
  margin-top: 0;
  margin-bottom: 2rem;
}

.book-photo .description {
  color: rebeccapurple;
}
.book-photo .review {
}

@media (max-width: 1280px) {
  .book-photo {
    display: block;
  }

  .book-photo img {
    width: 100%;
    margin-right: 0;
    margin-bottom: 30px;
  }
}
